h1 {
    text-align: center;
    text-decoration:double;
    margin-top: 20px;
}

video
{
    width: 30rem;
    height: 30rem;
    margin:  auto;
    display: flex;
    justify-content: center;
    align-items: center;

}
