<div class="formgrid grid p-3">
  <div class="field col-12 md:col-6">
    <label for="nome">Nome</label>
    <input
      id="nome"
      type="text"
      pInputText
      class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
    />
  </div>
  <div class="field col-12 md:col-3">
    <label for="preco">Preço</label>
    <input
      id="preco"
      type="text"
      pInputText
      class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
    />
  </div>
  <div class="field col-12">
    <label for="descricao">Descrição</label>
    <textarea
      id="descricao"
      type="text"
      pInputText
      rows="4"
      class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
    ></textarea>
  </div>
  <div class="field col-12 md:col-3">
    <label for="quantidadeEstoque">Qtd. Estoque</label>
    <input
      id="quantidadeEstoque"
      type="text"
      class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
    />
  </div>
</div>
