<div class="flex flex-column flex-1 justify-content-center align-items-center gap-5">
    <h1><b>Login</b></h1>
    <div class=" flex flex-1 justify-content-center">
      <p-floatLabel>
        <input id="username" type="text" pInputText [(ngModel)]="username" />
        <label for="username">Usuário</label>
      </p-floatLabel>
    </div>
    <div class="flex align-itens-center">
      <p-floatLabel>
        <p-password [(ngModel)]="password" [feedback]="false" [toggleMask]="true"/>
        <label for="password">Senha</label>
      </p-floatLabel>
    </div>
    <div class="flex-column justify-content-center">
      <p-button label="Login" class="p-2"  (click)="login()"></p-button>
      <p-button label="Register" (click)="register()"></p-button>
    </div>
  </div>
